* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
}

.navegacion {
    color: #FFFFFF;
    background-color: #0C3C60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

h1 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 70px;
}
nav ul {
    padding-left: 270px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0 15px;
}

#user {
    padding-right: 100px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enter {
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 16px;
}

.image img {
width: 1350px
}

.reserve {
    background-color: #ffffff;
    width: 835px;
    height: 250px;
    margin-left: 20%;
}

.reserve p {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 26px;
    color: rgb(0, 0, 0);
    padding-bottom: 25px;
    padding-top: 30px;
}

.reserve h2 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: sans-serif;
    color: rgb(7, 32, 54);
    font-weight: 100;
    padding-bottom: 27px;
    
    
}

.reserve button {
    background-color: #FFFFFF;
    display: flex;
    margin-left: 35%;
    border: solid 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #0c3b5f;
    
}

.table {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
    height: 373px;

}

.table table {
    font-family: sans-serif;
    font-size: 36px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 60px;
}

.nosotros {
    background-color: #DAE9F2;
}

.nosotros h2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 60px;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 100;
    color: rgb(7, 33, 54);
}

.nosotros .p1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding-bottom: 40px;
}

.nosotros .p2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 1);
}



